/* Variables */
:root {
  --primaryColor: #f15015;
  --primaryBlack: #222;
  --primaryWhite: #fff;
  --primarySpacing: 0.2rem;
  --darkGrey: #afafaf;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: var(--primaryBlack);
  background: var(--primaryWhite);
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: var(--primaryColor);
}

img {
  width: 100%;
  display: block;
}

h1,
h2 {
  text-transform: capitalize;
  letter-spacing: var(--primarySpacing);
}

h1 {
  font-size: 3rem;
  margin-bottom: 1.25rem;
}

h2 {
  margin-bottom: 0;
}

p {
  font-weight: 300;
  font-size: 0.7rem;
  line-height: 2;
}

.navbar {
  background: var(--darkGrey);
  padding: 0 2rem;
}

.navbar li {
  list-style: none;
}

.navbar a {
  text-transform: capitalize;
  display: block;
  padding: 1rem 0;
  letter-spacing: var(--primarySpacing);
}

.navbar a:hover {
  color: var(--primaryBlack);
}

@media screen and (min-width: 768px) {
  .navbar ul {
    max-width: 1170px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .navbar a {
    text-align: center;
  }
}

/* main */
.main {
  min-height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0,
        0,
        0,
        0.75)), url("../images/background.jpg") center/cover fixed no-repeat;
  color: var(--primaryWhite);
  display: grid;
  justify-content: center;
  align-items: center;
}

.main-content {
  padding: 0 1rem;
}

.main-content p {
  width: 80%;
  max-width: 560px;
  font-size: 1rem;
}

/* footer */
.footer {
  background: var(--primaryBlack);
  color: var(--primaryWhite);
  text-transform: capitalize;
  text-align: center;
  padding: 0.5rem 0;
}

.footer p {
  font-size: 1.2rem;
}

/* pizzas */
#pizzas {
  padding: 4rem 0;
}

#pizzas-title {
  text-align: center;
}

#pizzas-grid {
  width: 60vh;
  max-width: 1170px;
  margin: 2rem auto;
}

.pizza {
  border: 1px solid var(--darkGrey);
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

.pizza-info {
  padding: 1rem;
}

@media screen and (min-width: 768px) {
  #pizzas-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80vh;
    grid-column-gap: 2rem;
  }
}

@media screen and (min-width: 1170px) {
  #pizzas-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80vh;
    grid-column-gap: 2rem;
  }
}

/* prices */
#prices {
  width: 80vw;
  border: 1px solid white;
  line-height: 2rem;
}

#prices th {
  text-align: left;
}